# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
cities_df = pd.read_csv("../Weatherpy/output_data/cities.csv", usecols=[1,2,3,4,5,6,7,8,9])
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,east london,0,IS,1592431642,40,65.00,-15.00,53.60,13.87
1,albany,0,US,1592431620,34,42.60,-73.97,88.00,1.01
2,cherskiy,47,RU,1592431766,26,68.75,161.30,77.45,0.96
3,ushuaia,76,AR,1592431650,74,-54.80,-68.30,37.40,3.36
4,goderich,0,CA,1592431766,62,43.75,-81.72,69.01,4.61

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]

In [18]:
fig = gmaps.Map()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat_layer)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
ideal_df = cities_df.loc[cities_df['Max Temp'] < 80, :]
ideal_df = ideal_df.loc[ideal_df['Max Temp'] > 70, :]
ideal_df = ideal_df.loc[ideal_df['Wind Speed'] < 10, :]
ideal_df = ideal_df.loc[ideal_df['Cloudiness'] == 0, :]
ideal_df.dropna()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
39,gat,0,IL,1592431741,45,31.61,34.76,78.01,2.66
109,andros town,0,GR,1592431785,56,37.83,24.93,75.99,8.99
153,namibe,0,AO,1592431753,63,-15.20,12.15,71.31,7.00
221,deputatskiy,0,RU,1592431805,33,69.30,139.90,73.18,7.40
267,zhob,0,PK,1592431814,16,31.34,69.45,79.95,2.44
275,viransehir,0,TR,1592431816,25,37.24,39.76,79.18,9.08
280,sabha,0,LY,1592431816,15,27.04,14.43,79.59,8.77
342,sarakhs,0,IR,1592431827,33,36.54,61.16,75.20,2.24
444,khash,0,IR,1592431844,16,28.22,61.22,78.71,7.31
516,ashqelon,0,IL,1592431857,45,31.67,34.57,78.01,5.35
520,yuksekova,0,TR,1592431857,40,37.57,44.29,71.60,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
hotel_df=ideal_df
hotel_df["Hotel Name"]=np.nan
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
39,gat,0,IL,1592431741,45,31.61,34.76,78.01,2.66,NaN
109,andros town,0,GR,1592431785,56,37.83,24.93,75.99,8.99,NaN
153,namibe,0,AO,1592431753,63,-15.20,12.15,71.31,7.00,NaN
221,deputatskiy,0,RU,1592431805,33,69.30,139.90,73.18,7.40,NaN
267,zhob,0,PK,1592431814,16,31.34,69.45,79.95,2.44,NaN
275,viransehir,0,TR,1592431816,25,37.24,39.76,79.18,9.08,NaN
280,sabha,0,LY,1592431816,15,27.04,14.43,79.59,8.77,NaN
342,sarakhs,0,IR,1592431827,33,36.54,61.16,75.20,2.24,NaN
444,khash,0,IR,1592431844,16,28.22,61.22,78.71,7.31,NaN
516,ashqelon,0,IL,1592431857,45,31.67,34.57,78.01,5.35,NaN
520,yuksekova,0,TR,1592431857,40,37.57,44.29,71.60,4.70,NaN

In [28]:
target_search = "Hotel"
target_radius = 5000
target_type = "lodging"

idx = 0
for index, row in hotel_df.iterrows():
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[idx, -1] = name
    idx = idx + 1

narrowed_city_df = hotel_df
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
39,gat,0,IL,1592431741,45,31.61,34.76,78.01,2.66,Desert Gat
109,andros town,0,GR,1592431785,56,37.83,24.93,75.99,8.99,Archontiko Eleni
153,namibe,0,AO,1592431753,63,-15.20,12.15,71.31,7.00,Hotel ibis Styles Iu Namibe
221,deputatskiy,0,RU,1592431805,33,69.30,139.90,73.18,7.40,NaN
267,zhob,0,PK,1592431814,16,31.34,69.45,79.95,2.44,Rohail hotel Zhob
275,viransehir,0,TR,1592431816,25,37.24,39.76,79.18,9.08,Tella Hotel
280,sabha,0,LY,1592431816,15,27.04,14.43,79.59,8.77,فندق أفريقيا
342,sarakhs,0,IR,1592431827,33,36.54,61.16,75.20,2.24,Doosti Hotel
444,khash,0,IR,1592431844,16,28.22,61.22,78.71,7.31,خوابگاه دانشجویی خاش
516,ashqelon,0,IL,1592431857,45,31.67,34.57,78.01,5.35,Leonardo Ashkelon
520,yuksekova,0,TR,1592431857,40,37.57,44.29,71.60,4.70,HOTEL UFUK ZAFER

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [33]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# Display Map

Map(configuration={'api_key': 'AIzaSyCnIQH9EioAK5K07GhFWiRFrZZOQguv4ok'}, data_bounds=[(-39.39529990764723, -1…